In [1]:
import os
os.getcwd() # this is a comment, Python will not pay attention to this.

'C:\\Users\\John\\Documents\\542'

In [17]:
cloudLocation_AllMyFiles='https://github.com/jsalber/542/raw/main/Data%20Gathering/'

linkToSTATA_File=cloudLocation_AllMyFiles+'hsb_ok.dta' # '+' concatenates text.
linkToSPSS_File=cloudLocation_AllMyFiles+'hsb_ok.sav'
linkToEXCEL_File=cloudLocation_AllMyFiles+'hsb_ok.xlsx'

In [2]:
!pip show pandas

Name: pandas
Version: 1.3.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\users\john\anaconda3\lib\site-packages
Requires: python-dateutil, numpy, pytz
Required-by: statsmodels, seaborn

In [10]:
!pip show xlrd

Name: xlrd
Version: 2.0.1
Summary: Library for developers to extract data from Microsoft Excel (tm) .xls spreadsheet files
Home-page: http://www.python-excel.org/
Author: Chris Withers
Author-email: chris@withers.org
License: BSD
Location: c:\users\john\anaconda3\lib\site-packages
Requires:
Required-by:

In [18]:
import pandas as pd # activating pandas

dfStata=pd.read_stata(linkToSTATA_File)
dfExcel=pd.read_excel(linkToEXCEL_File,usecols='B:P') #this omits first column (row number from Excel).

#you can also use:

# import pandas
# dfStata=pandas.read_stata(linkToSTATA_File)
# dfExcel=pandas.read_excel(linkToEXCEL_File)

In [19]:
type(dfStata) , type(dfExcel)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [20]:
dfStata.shape, dfExcel.shape

((600, 15), (600, 15))

In [21]:
dfStata.head()

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6

In [22]:
dfExcel.tail()
#?pd.read_excel

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
595,596,Male,Hispanic,High,Private,General,0.27,-1.05,0.33,Professional_1,60.1,54.1,56.3,55.3,55.6
596,597,Male,Hispanic,Medium,Private,General,0.55,0.34,1.00,Technical,62.7,61.9,72.9,63.4,55.6
597,598,Male,Hispanic,Medium,Private,General,-0.61,0.34,0.67,Technical,68.0,54.1,74.6,66.1,65.5
598,599,Female,Hispanic,Medium,Private,General,0.23,0.94,1.00,Professional_2,57.4,67.1,57.9,60.7,55.6
599,600,Male,Hispanic,Medium,Private,General,0.02,0.03,0.33,Professional_1,62.7,54.1,64.7,58.0,50.6

In [23]:
fileXLSXs=cloudLocation_AllMyFiles+'WA_COVID19_Cases_Hospitalizations_Deaths.xlsx'

#opening each in a different data frame.
dataExcelCovidCases=pd.read_excel(fileXLSXs,sheet_name='Cases')
dataExcelCovidDeaths=pd.read_excel(fileXLSXs,sheet_name='Deaths') 
dataExcelCovidHospitalizations=pd.read_excel(fileXLSXs,sheet_name='Hospitalizations') 
dataExcelCovidDataDictionary=pd.read_excel(fileXLSXs,sheet_name='Data Dictionary')

HTTPError: HTTP Error 404: Not Found

In [24]:
from IPython.display import IFrame  
fromAPI="https://dev.socrata.com/foundry/data.seattle.gov/kzjm-xkqj" 
IFrame(fromAPI, width=900, height=500)

In [25]:
!pip install sodapy

Collecting sodapy
  Downloading sodapy-2.1.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.20.0 in c:\users\john\anaconda3\lib\site-packages (from sodapy) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\john\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\john\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\john\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\john\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2.0.4)
Installing collected packages: sodapy
Successfully installed sodapy-2.1.0

In [26]:
from sodapy import Socrata

# Unauthenticated client (using 'None')

client = Socrata("data.seattle.gov", None)

# If you have credentials:
# client = Socrata(data.seattle.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 500 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("kzjm-xkqj", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [27]:
results_df

,address,type,datetime,latitude,longitude,report_location,incident_number,:@computed_region_ru88_fbhk,:@computed_region_kuhn_3gp2,:@computed_region_q256_3sug,:@computed_region_2day_rhn5,:@computed_region_cyqu_gs94
0,1924 9th Ave,Aid Response,2022-01-13T09:41:00.000,47.615796,-122.334741,"{'type': 'Point', 'coordinates': [-122.334741,...",F220005633,56,31,18081,NaN,NaN
1,2320 E UNION ST,Aid Response,2022-01-13T09:32:00.000,47.612941,-122.30244,"{'type': 'Point', 'coordinates': [-122.30244, ...",F220005631,9,8,19578,NaN,NaN
2,1104 Nw 130th St,Aid Response,2022-01-13T09:31:00.000,47.723312,-122.370418,"{'type': 'Point', 'coordinates': [-122.370418,...",F220005630,6,32,18229,126,1
3,4755 Fauntleroy Way Sw,Aid Response,2022-01-13T09:30:00.000,47.560074,-122.381457,"{'type': 'Point', 'coordinates': [-122.381457,...",F220005629,1,50,19581,NaN,NaN
4,627 4th Ave W,Aid Response,2022-01-13T09:29:00.000,47.624935,-122.361932,"{'type': 'Point', 'coordinates': [-122.361932,...",F220005628,50,40,19575,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Nw 85th St / 24th Ave Nw,Triaged Incident,2022-01-07T09:35:00.000,47.690575,-122.387598,"{'type': 'Point', 'coordinates': [-122.387598,...",F220003010,3,23,18798,131,NaN
1996,7019 47th Ave Sw,Aid Response,2022-01-07T09:33:00.000,47.540061,-122.393071,"{'type': 'Point', 'coordinates': [-122.393071,...",F220003008,37,51,17916,NaN,NaN
1997,7122 Fauntleroy Way Sw,Electrical Problem,2022-01-07T09:27:00.000,47.539443,-122.390805,"{'type': 'Point', 'coordinates': [-122.390805,...",F220003007,37,51,17916,NaN,NaN
1998,660 W Olympic Pl,Aid Response,2022-01-07T09:27:00.000,47.62781,-122.366435,"{'type': 'Point', 'coordinates': [-122.366435,...",F220003006,50,39,19575,NaN,NaN
1999,17th Ave / E Madison St,Medic Response- 6 per Rule,2022-01-07T09:22:00.000,47.61559,-122.310151,"{'type': 'Point', 'coordinates': [-122.310151,...",F220003003,9,6,19578,NaN,NaN

In [30]:
!pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.1.4-cp39-cp39-win_amd64.whl (1.3 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\john\anaconda3\lib\site-packages (from pyreadstat) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\john\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\john\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\john\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\john\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.1.4

In [31]:
# to open link:
from urllib.request import urlopen

response = urlopen(linkToSPSS_File) 

# reading contents
content = response.read() 

# opening a file new file locally
fhandle = open('savingLocally.sav', 'wb') #wb?

# saving contents in that file
fhandle.write(content) 

# closing the file
fhandle.close()

In [32]:
dataSPSS= pd.read_spss("savingLocally.sav")

# here it is
dataSPSS

,ID,SEX,RACE,SES,SCTYP,HSP,LOCUS,CONCPT,MOT,CAR,RDG,WRTG,MATH,SCI,CIV
0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,596,Male,Hispanic,High,Private,General,0.27,-1.05,0.33,Professional_1,60.1,54.1,56.3,55.3,55.6
596,597,Male,Hispanic,Medium,Private,General,0.55,0.34,1.00,Technical,62.7,61.9,72.9,63.4,55.6
597,598,Male,Hispanic,Medium,Private,General,-0.61,0.34,0.67,Technical,68.0,54.1,74.6,66.1,65.5
598,599,Female,Hispanic,Medium,Private,General,0.23,0.94,1.00,Professional_2,57.4,67.1,57.9,60.7,55.6
599,600,Male,Hispanic,Medium,Private,General,0.02,0.03,0.33,Professional_1,62.7,54.1,64.7,58.0,50.6

In [33]:
cloudLocation_AllMyFiles='https://github.com/EvansDataScience/data/raw/master/'

In [34]:
fileXLSXs=cloudLocation_AllMyFiles+'WA_COVID19_Cases_Hospitalizations_Deaths.xlsx'

#opening each in a different data frame.
dataExcelCovidCases=pd.read_excel(fileXLSXs,sheet_name='Cases')
dataExcelCovidDeaths=pd.read_excel(fileXLSXs,sheet_name='Deaths') 
dataExcelCovidHospitalizations=pd.read_excel(fileXLSXs,sheet_name='Hospitalizations') 
dataExcelCovidDataDictionary=pd.read_excel(fileXLSXs,sheet_name='Data Dictionary')

In [35]:
dataExcelCovidDataDictionary

,Variable.Name,Definition
0,County,County of residence
1,WeekStartDate,This date indicates the first day of the week....
2,ProbableCases,Number of probable cases with a specimen colle...
3,ConfirmedCases,Number of confirmed cases with a specimen coll...
4,TotalCases,Number of confirmed and probable cases with a ...
5,Hospitalizations,Number of hospitalizations among confirmed and...
6,Deaths,Number of deaths among confirmed and probable ...
7,Age 0-11,"Number of confirmed and probable cases, hospit..."
8,Age 12-19,"Number of confirmed and probable cases, hospit..."
9,Age 20-34,"Number of confirmed and probable cases, hospit..."
10,Age 35-49,"Number of confirmed and probable cases, hospit..."
11,Age 50-64,"Number of confirmed and probable cases, hospit..."
12,Age 65-79,"Number of confirmed and probable cases, hospit..."
13,Age 80+,"Number of confirmed and probable cases, hospit..."
14,UnknownAge,"Number of confirmed and probable cases, hospit..."
15,dtm_updated,The date and time the data were pulled from th...
16,"*Please note that data are dynamic, so there w...",NaN

In [36]:
# if you need more space:
pd.set_option('max_colwidth', 800)
dataExcelCovidDataDictionary

,Variable.Name,Definition
0,County,County of residence
1,WeekStartDate,This date indicates the first day of the week. Weeks are defined as Sunday to Saturday.
2,ProbableCases,"Number of probable cases with a specimen collection date during that week. Probable cases are individuals with a positive antigen test for COVID-19 and no positive molecular test. The case classification can change to confirmed based on subsequent testing. The case is recorded to the week with the earliest specimen collection date of a positive test, regardless of test type."
3,ConfirmedCases,"Number of confirmed cases with a specimen collection date during that week. Confirmed cases are individuals with a positive molecular test for COVID-19. The case is recoded to the week with the earliest specimen collection date of a positive test, regardless of test type."
4,TotalCases,"Number of confirmed and probable cases with a specimen collection date. The case is recorded to the day with the earliest specimen collection date of a positive test, regardless of test type. The 14-day case rate is calculated as the sum of total cases over the past 14 days divided by the population, then multiplied by 100,000."
5,Hospitalizations,"Number of hospitalizations among confirmed and probable cases with an admission date. The 7-day hospitalization rate is calculated as the sum of hospitalizations over the past 7 days divided by the population, then multiplied by 100,000."
6,Deaths,"Number of deaths among confirmed and probable cases with a specimen collection date. The death is recorded to the day with the earliest specimen collection date of a positive test, regardless of test type. The 7-day death rate is calculated as the sum of deaths over the past 7 days divided by the population, then multiplied by 100,000."
7,Age 0-11,"Number of confirmed and probable cases, hospitalizations, or deaths among those aged 0 to 11 years"
8,Age 12-19,"Number of confirmed and probable cases, hospitalizations, or deaths among those aged 12 to 19 years"
9,Age 20-34,"Number of confirmed and probable cases, hospitalizations, or deaths among those aged 20 to 34 years"
10,Age 35-49,"Number of confirmed and probable cases, hospitalizations, or deaths among those aged 35 to 49 years"
11,Age 50-64,"Number of confirmed and probable cases, hospitalizations, or deaths among those aged 50 to 64 years"
12,Age 65-79,"Number of confirmed and probable cases, hospitalizations, or deaths among those aged 65 to 79 years"
13,Age 80+,"Number of confirmed and probable cases, hospitalizations, or deaths among those aged 80 years or older"
14,UnknownAge,"Number of confirmed and probable cases, hospitalizations, or deaths among those with an unknown age"
15,dtm_updated,The date and time the data were pulled from the Washington Disease Reporting System
16,"*Please note that data are dynamic, so there will be changes over time as we learn more about cases",NaN

In [37]:
from IPython.display import IFrame  
fromAPI="https://dev.socrata.com/foundry/data.seattle.gov/kzjm-xkqj" 
IFrame(fromAPI, width=900, height=500)

In [38]:
from IPython.display import IFrame  
wikiLink="https://en.wikipedia.org/wiki/Democracy_Index" 
IFrame(wikiLink, width=700, height=300)

In [39]:
!pip show html5lib

Name: html5lib
Version: 1.1
Summary: HTML parser based on the WHATWG HTML specification
Home-page: https://github.com/html5lib/html5lib-python
Author:
Author-email:
License: MIT License
Location: c:\users\john\anaconda3\lib\site-packages
Requires: webencodings, six
Required-by:

In [42]:
!pip show beautifulsoup4

Name: beautifulsoup4
Version: 4.10.0
Summary: Screen-scraping library
Home-page: http://www.crummy.com/software/BeautifulSoup/bs4/
Author: Leonard Richardson
Author-email: leonardr@segfault.org
License: MIT
Location: c:\users\john\anaconda3\lib\site-packages
Requires: soupsieve
Required-by: conda-build

In [43]:
!pip show lxml

Name: lxml
Version: 4.6.3
Summary: Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API.
Home-page: https://lxml.de/
Author: lxml dev team
Author-email: lxml-dev@lxml.de
License: BSD
Location: c:\users\john\anaconda3\lib\site-packages
Requires:
Required-by:

In [44]:
dataWIKI=pd.read_html(wikiLink,header=0,flavor='bs4',attrs={'class': 'wikitable'})

In [45]:
type(dataWIKI)

list

In [46]:
len(dataWIKI)

6

In [47]:
# remember that Python starts counting in ZERO!
dataWIKI[0]

,Type of regime,Colors,Colors.1,Score,Countries,Countries (%),World population (%),GDP (%)
0,Full democracies,NaN,NaN,8.01â€“10,23,13.8%,8.4%,27.5%
1,Flawed democracies,NaN,NaN,6.01â€“8,52,31.1%,41.0%,45.7%
2,Hybrid regimes,NaN,NaN,4.01â€“6,35,21.0%,15.0%,3.7%
3,Authoritarian regimes,NaN,NaN,0â€“4,57,34.1%,35.6%,23.1%

In [48]:
dataWIKI[5]

,Rank,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Î” Rank,Country,Regime type,Overall score,Î” Score,ElecÂ­toral proÂ­cess and pluraÂ­lism,FuncÂ­tioning of governÂ­ment,PoliÂ­tical particiÂ­pation,PoliÂ­tical culÂ­ture,Civil liberÂ­ties
0,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies
1,1,NaN,Norway,Full democracy,9.81,0.06,10.00,9.64,10.00,10.00,9.41
2,2,NaN,Iceland,Full democracy,9.37,0.21,10.00,8.57,8.89,10.00,9.41
3,3,NaN,Sweden,Full democracy,9.26,0.13,9.58,9.29,8.33,10.00,9.12
4,4,NaN,New Zealand,Full democracy,9.25,0.01,10.00,8.93,8.89,8.75,9.71
...,...,...,...,...,...,...,...,...,...,...,...
166,163,NaN,Chad,Authoritarian,1.55,0.06,0.00,0.00,1.67,3.75,2.35
167,164,NaN,Syria,Authoritarian,1.43,NaN,0.00,0.00,2.78,4.38,0.00
168,165,NaN,Central African Republic,Authoritarian,1.32,NaN,1.25,0.00,1.11,1.88,2.35
169,166,NaN,Democratic Republic of the Congo,Authoritarian,1.13,NaN,0.00,0.00,1.67,3.13,0.88
170,167,NaN,North Korea,Authoritarian,1.08,NaN,0.00,2.50,1.67,1.25,0.00

In [49]:
!pip install tweepy

Collecting tweepy
  Downloading tweepy-4.4.0-py2.py3-none-any.whl (65 kB)
Requirement already satisfied: requests<3,>=2.11.1 in c:\users\john\anaconda3\lib\site-packages (from tweepy) (2.26.0)
Collecting requests-oauthlib<2,>=1.0.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\john\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\john\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\john\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\john\anaconda3\lib\site-packages (from requests<3,>=2.11.1->tweepy) (2021.10.8)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.1.1-py2.py3-none-any.whl (146 kB)
Installing collected packages: oauthlib, requests-oauthlib, tweepy
Successfully installed oauthlib-3.1.1 requests-oauthlib-1.3.0 tweepy-4.4.0

In [50]:
import tweepy

In [56]:
# credentials
consumer_key = 'wygrepSAb42uydFw3vqvP7c1X'
consumer_secret ='wUmRPtCwOnPLCjdz19up0TLHxkZix1JrSIBIJcQG3cHqBe11f8'
access_token =  '1477830708785602567-NutgsL0rkDaIhaMEuUzaWXjnvwZuwB'
access_token_secret = 'm1B3tpRrOTJeMvDqA1IgCyrlllv2slxPEcWUDOuKUWU82'

# introducing myself:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api=tweepy.API(auth, wait_on_rate_limit=True,timeout=60,
               parser=tweepy.parsers.JSONParser())

In [57]:
who='@Minsa_Peru'
howMany=20
gottenTweets = api.user_timeline(screen_name = who, 
                                 count = howMany, 
                                 include_rts = False,
                                 tweet_mode="extended")

Forbidden: 403 Forbidden
453 - You currently have Essential access which includes access to Twitter API v2 endpoints only. If you need access to this endpoint, youâ€™ll need to apply for Elevated access via the Developer Portal. You can learn more here: https://developer.twitter.com/en/docs/twitter-api/getting-started/about-twitter-api#v2-access-leve