In [1]:
# importing pandas for the notebook
import pandas as pd

#link for the tables
demoLink="https://en.wikipedia.org/wiki/List_of_countries_by_carbon_dioxide_emissions"

# fetching the tables
demodata=pd.read_html(demoLink,header=1,flavor="bs4",attrs={'class':"wikitable sortable"})

In [2]:
demoVars=demodata[0].copy()

In [3]:
# first rows
demoVars.head()

,Country[20],1990,2005,2017,2017(% of world),2017 vs 1990: change (%),Per land area(t CO2/km2/yr),Per capita(t CO2/cap/yr),Total including LUCF[22],Total excluding LUCF[23]
0,World,22674.116,30049.809,37077.404,100.00%,63.5%,73.0,4.9,36431.11,35247.21
1,World – International Aviation,258.941,422.777,543.381,1.47%,109.8%,NaN,NaN,NaN,NaN
2,World – International Shipping,371.804,572.169,677.248,1.83%,82.2%,NaN,NaN,NaN,NaN
3,Afghanistan,2.546,1.063,11.422,0.03%,348.6%,18.0,0.3,7.59,7.44
4,Albania,6.583,4.196,5.026,0.01%,-23.7%,175.0,1.7,5.32,5.56

In [4]:
#column positions to drop
whichToDrop=[1,2,5,6,8,9]

#dropping and updating the data frame
demoVars.drop(labels=demoVars.columns[whichToDrop],axis=1,inplace=True)

In [5]:
# first rows
demoVars.head()

,Country[20],2017,2017(% of world),Per capita(t CO2/cap/yr)
0,World,37077.404,100.00%,4.9
1,World – International Aviation,543.381,1.47%,NaN
2,World – International Shipping,677.248,1.83%,NaN
3,Afghanistan,11.422,0.03%,0.3
4,Albania,5.026,0.01%,1.7

In [6]:
import re
re.sub("\s","",demoVars.columns[3])

'Percapita(tCO2/cap/yr)'

In [7]:
demoVars.columns=demoVars.columns.str.replace("Country\[20]","Country",regex=True)

# current colum names
demoVars.columns

Index(['Country', '2017', '2017(% of world)', 'Per capita(t CO2/cap/yr)'], dtype='object')

In [8]:
demoVars.columns=demoVars.columns.str.replace("2017\(% of world\)","PercentofWorldEmissions",regex=True)

# current colum names
demoVars.columns

Index(['Country', '2017', 'PercentofWorldEmissions',
       'Per capita(t CO2/cap/yr)'],
      dtype='object')

In [9]:
demoVars.columns=demoVars.columns.str.replace("2017","2017CO2Emissions",regex=True)

# current colum names
demoVars.columns

Index(['Country', '2017CO2Emissions', 'PercentofWorldEmissions',
       'Per capita(t CO2/cap/yr)'],
      dtype='object')

In [10]:
demoVars.columns=demoVars.columns.str.replace("Per capita\(t CO2/cap/yr\)","PerCapitaEmissions",regex=True)

# current colum names
demoVars.columns

Index(['Country', '2017CO2Emissions', 'PercentofWorldEmissions',
       'PerCapitaEmissions'],
      dtype='object')

In [11]:

demoVars.head()

,Country,2017CO2Emissions,PercentofWorldEmissions,PerCapitaEmissions
0,World,37077.404,100.00%,4.9
1,World – International Aviation,543.381,1.47%,NaN
2,World – International Shipping,677.248,1.83%,NaN
3,Afghanistan,11.422,0.03%,0.3
4,Albania,5.026,0.01%,1.7

In [12]:
demoVars.drop([1], axis=0, inplace = True)

In [13]:

demoVars.drop([2], axis=0, inplace = True)

In [14]:
demoVars=demoVars.reset_index(drop=True)

In [15]:

demoVars.head()

       Country  2017CO2Emissions PercentofWorldEmissions  PerCapitaEmissions
0        World         37077.404                 100.00%                 4.9
1  Afghanistan            11.422                   0.03%                 0.3
2      Albania             5.026                   0.01%                 1.7
3      Algeria           159.929                   0.43%                 3.9
4       Angola            30.876                   0.08%                 1.0

In [ ]:
demoVars.to_csv("co2.csv",index=False)