In [1]:
# importing pandas for the notebook
import pandas as pd

#link for the tables
demoLink="https://en.wikipedia.org/wiki/List_of_countries_by_electricity_production"

# fetching the tables
demodata=pd.read_html(demoLink,header=0,flavor="bs4",attrs={'class':"wikitable"})

In [2]:
demoVars=demodata[0].copy()

In [3]:
# first rows
demoVars.head()

,Country,Electricity production.mw-parser-output .nobold{font-weight:normal}(GWh),Year
0,World,26823200,[1]2020
1,China,7779100,[1]2020
2,United States,4286600,[1]2020
3,India,1560900,[1]2020
4,Russia,1085400,[1]2020

In [4]:
#column positions to drop
whichToDrop=[2]

#dropping and updating the data frame
demoVars.drop(labels=demoVars.columns[whichToDrop],axis=1,inplace=True)

In [5]:
# first rows
demoVars.head()

,Country,Electricity production.mw-parser-output .nobold{font-weight:normal}(GWh)
0,World,26823200
1,China,7779100
2,United States,4286600
3,India,1560900
4,Russia,1085400

In [7]:
demoVars.columns=demoVars.columns.str.replace("Electricity production.mw-parser-output .nobold\{font-weight:normal\}\(GWh\)","EnergyOutput(GWH)",regex=True)

# current colum names
demoVars.columns

Index(['Country', 'EnergyOutput(GWH)'], dtype='object')

In [8]:
demoVars.to_csv("Energy Production.csv",index=False)