In [1]:
# importing pandas for the notebook
import pandas as pd

#link for the tables
demoLink="https://en.wikipedia.org/wiki/List_of_countries_by_energy_consumption_per_capita"

# fetching the tables
demodata=pd.read_html(demoLink,header=0,flavor="bs4",attrs={'class':"wikitable"})

In [2]:
demoVars=demodata[0].copy()

In [3]:
# first rows
demoVars.head()

,Unnamed: 0,2003[3],2003[3].1,2003[3].2,2013[1],2013[1].1,2013[1].2,2014[1]
0,Country/Territory,kgoe/a,GJ/a,W,kgoe/a,GJ/a,W,kgoe/a
1,Afghanistan[4],90,3.78,119.8,NaN,NaN,NaN,NaN
2,Albania,648.3,27.23,863.2,800.6,33.62,1065.9,NaN
3,Algeria,1138.2,47.81,1515.5,1246.0,52.33,1658.9,NaN
4,Angola,716.5,30.09,953.9,654.9,27.51,871.9,NaN

In [4]:
#column positions to drop
whichToDrop=[1,2,3,4,5,7]

#dropping and updating the data frame
demoVars.drop(labels=demoVars.columns[whichToDrop],axis=1,inplace=True)

In [5]:
# first rows
demoVars.head()

          Unnamed: 0 2013[1].2
0  Country/Territory         W
1     Afghanistan[4]       NaN
2            Albania    1065.9
3            Algeria    1658.9
4             Angola     871.9

In [6]:
demoVars.columns=demoVars.columns.str.replace("2013\[1].2","EnergyConsumptionPerCapita(Watts)",regex=True)

# current colum names
demoVars.columns

Index(['Unnamed: 0', 'EnergyConsumptionPerCapita(Watts)'], dtype='object')

In [8]:
demoVars.columns=demoVars.columns.str.replace("Unnamed: 0", "Country")
demoVars.head()

             Country EnergyConsumptionPerCapita(Watts)
0  Country/Territory                                 W
1     Afghanistan[4]                               NaN
2            Albania                            1065.9
3            Algeria                            1658.9
4             Angola                             871.9

In [9]:
demoVars.drop([0], axis=0, inplace = True)
demoVars=demoVars.reset_index(drop=True)

In [10]:
demoVars.head()

          Country EnergyConsumptionPerCapita(Watts)
0  Afghanistan[4]                               NaN
1         Albania                            1065.9
2         Algeria                            1658.9
3          Angola                             871.9
4       Argentina                            2522.5

In [8]:
demoVars.to_csv("Energy Production.csv",index=False)