In [8]:
# importing pandas for the notebook
import pandas as pd

#link for the tables
demoLink="https://en.wikipedia.org/wiki/List_of_countries_by_Human_Development_Index"

# fetching the tables
demodata=pd.read_html(demoLink,header=1,flavor="bs4",attrs={'class':"wikitable"})

In [9]:
demoVars=demodata[0].copy()

In [10]:
# first rows
demoVars.head()

,2019 data (2020 report)​[2],Change over 5 years (2014)​[18],Nation,2019 data (2020 report)​[2].1,Average annual growth (2010–2019)​[18]
0,1,NaN,Norway,0.957,0.20%
1,2,(7),Ireland,0.955,0.65%
2,2,NaN,Switzerland,0.955,0.16%
3,4,(7),Hong Kong,0.949,0.54%
4,4,(4),Iceland,0.949,0.62%

In [11]:
#column positions to drop
whichToDrop=[0,1]

#dropping and updating the data frame
demoVars.drop(labels=demoVars.columns[whichToDrop],axis=1,inplace=True)

In [12]:
# first rows
demoVars.head()

,Nation,2019 data (2020 report)​[2].1,Average annual growth (2010–2019)​[18]
0,Norway,0.957,0.20%
1,Ireland,0.955,0.65%
2,Switzerland,0.955,0.16%
3,Hong Kong,0.949,0.54%
4,Iceland,0.949,0.62%

In [13]:
whichToDrop=[2]

#dropping and updating the data frame
demoVars.drop(labels=demoVars.columns[whichToDrop],axis=1,inplace=True)

In [14]:
# first rows
demoVars.head()

        Nation  2019 data (2020 report)​[2].1
0       Norway                          0.957
1      Ireland                          0.955
2  Switzerland                          0.955
3    Hong Kong                          0.949
4      Iceland                          0.949

In [16]:
import re
re.sub("\s","",demoVars.columns[1])

'2019data(2020report)\u200b[2].1'

In [22]:
demoVars.columns=demoVars.columns.str.replace("2019 data \(2020 report\)​\[2].1","HDI",regex=True)

# current colum names
demoVars.columns

Index(['Nation', 'HDI'], dtype='object')

In [23]:

demoVars.head()

        Nation    HDI
0       Norway  0.957
1      Ireland  0.955
2  Switzerland  0.955
3    Hong Kong  0.949
4      Iceland  0.949

In [15]:

demoVars.head()

       Country  2017CO2Emissions PercentofWorldEmissions  PerCapitaEmissions
0        World         37077.404                 100.00%                 4.9
1  Afghanistan            11.422                   0.03%                 0.3
2      Albania             5.026                   0.01%                 1.7
3      Algeria           159.929                   0.43%                 3.9
4       Angola            30.876                   0.08%                 1.0

In [16]:
demoVars.to_csv("co2.csv",index=False)