In [1]:
import pandas as pd
linkDataGDP="https://raw.githubusercontent.com/jsalber/542/main/First%20Assignment/GDP%20Data.csv"
linkDataCO2="https://raw.githubusercontent.com/jsalber/542/main/First%20Assignment/co2.csv"
DataGDP=pd.read_csv(linkDataGDP)
DataCO2=pd.read_csv(linkDataCO2)

In [2]:
DataGDP.columns

Index(['CountryOrTerritory', 'GDP(US$Million)'], dtype='object')

In [3]:
DataCO2.columns

Index(['Country', '2017CO2Emissions', 'PercentofWorldEmissions',
       'PerCapitaEmissions'],
      dtype='object')

In [4]:
allData=DataCO2.merge(DataGDP,left_on="Country",right_on="CountryOrTerritory")

In [5]:
DataCO2.shape

(210, 4)

In [6]:
allData.shape

(190, 6)

In [7]:
allData=DataCO2.merge(DataGDP,left_on="Country",right_on="CountryOrTerritory",how='outer',indicator='True')

In [8]:
allData.columns

Index(['Country', '2017CO2Emissions', 'PercentofWorldEmissions',
       'PerCapitaEmissions', 'CountryOrTerritory', 'GDP(US$Million)', 'True'],
      dtype='object')

In [9]:
allData['True'].value_counts()

both          190
right_only     26
left_only      20
Name: True, dtype: int64

In [10]:
allData[allData['True']=='left_only'].Country

0                                             World
51                 Democratic Republic of the Congo
65                                   European Union
66                                 Falkland Islands
67                                    Faroe Islands
70                                    France Monaco
71                                    French Guiana
77                                        Gibraltar
81                                       Guadeloupe
97                    Italy San Marino Vatican City
122                                      Martinique
154                                         Réunion
158    Saint Helena, Ascension and Tristan da Cunha
161                       Saint Pierre and Miquelon
167                             Serbia & Montenegro
177                                   Spain Andorra
179                               Sudan South Sudan
182                       Switzerland Liechtenstein
188                                      The Gambia
206                                  Western Sahara
Name: Country, dtype: object

In [11]:
allData[allData['True']=='right_only'].CountryOrTerritory

210                      France
211                       Italy
212                       Spain
213                 Switzerland
214                      Serbia
215                    DR Congo
216                       Sudan
217                   Palestine
218                      Kosovo
219               Liechtenstein
220                      Monaco
221                        Guam
222                  Montenegro
223                 South Sudan
224                     Andorra
225                      Gambia
226                  San Marino
227                    Zanzibar
228    Northern Mariana Islands
229                Sint Maarten
230              American Samoa
231                  Micronesia
232            Marshall Islands
233                       Nauru
234                  Montserrat
235                      Tuvalu
Name: CountryOrTerritory, dtype: object

In [12]:
UnmatchedLeft=allData[allData['True']=='left_only'].Country.to_list()
UnmatchedRight=allData[allData['True']=='right_only'].CountryOrTerritory.to_list()

In [13]:
UnmatchedLeft[0]

'World'

In [14]:
from thefuzz import process
process.extractOne(UnmatchedLeft[0], UnmatchedRight)

C:\Users\John\anaconda3\lib\site-packages\thefuzz\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

('Switzerland', 54)

In [15]:
process.extract(UnmatchedLeft[0], UnmatchedRight,limit=3)

[('Switzerland', 54),
 ('Northern Mariana Islands', 36),
 ('Marshall Islands', 36)]

In [16]:
UnmatchedLeft=allData[allData['True']=='left_only'].Country.to_list()
UnmatchedLeft

['World',
 'Democratic Republic of the Congo',
 'European Union',
 'Falkland Islands',
 'Faroe Islands',
 'France\xa0Monaco',
 'French Guiana',
 'Gibraltar',
 'Guadeloupe',
 'Italy\xa0San Marino Vatican City',
 'Martinique',
 'Réunion',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Pierre and Miquelon',
 'Serbia & Montenegro',
 'Spain\xa0Andorra',
 'Sudan\xa0South Sudan',
 'Switzerland\xa0Liechtenstein',
 'The Gambia',
 'Western Sahara']

In [17]:
[(left, process.extractOne(left, UnmatchedRight)) for left in sorted(UnmatchedLeft)]

[('Democratic Republic of the Congo', ('DR Congo', 86)),
 ('European Union', ('Spain', 54)),
 ('Falkland Islands', ('Northern Mariana Islands', 86)),
 ('Faroe Islands', ('Northern Mariana Islands', 86)),
 ('France\xa0Monaco', ('France', 90)),
 ('French Guiana', ('Guam', 68)),
 ('Gibraltar', ('Italy', 54)),
 ('Guadeloupe', ('Guam', 68)),
 ('Italy\xa0San Marino Vatican City', ('Italy', 90)),
 ('Martinique', ('Spain', 54)),
 ('Réunion', ('San Marino', 54)),
 ('Saint Helena, Ascension and Tristan da Cunha', ('Sint Maarten', 52)),
 ('Saint Pierre and Miquelon', ('Spain', 72)),
 ('Serbia & Montenegro', ('Serbia', 90)),
 ('Spain\xa0Andorra', ('Spain', 90)),
 ('Sudan\xa0South Sudan', ('Sudan', 90)),
 ('Switzerland\xa0Liechtenstein', ('Switzerland', 90)),
 ('The Gambia', ('Gambia', 90)),
 ('Western Sahara', ('Northern Mariana Islands', 51)),
 ('World', ('Switzerland', 54))]

In [18]:
TotallyWrong=[('European Union', ('Spain', 54)),
 ('Falkland Islands', ('Northern Mariana Islands', 86)),
 ('Faroe Islands', ('Northern Mariana Islands', 86)),
 ('France\xa0Monaco', ('France', 90)),
 ('French Guiana', ('Guam', 68)),
 ('Gibraltar', ('Italy', 54)),
 ('Guadeloupe', ('Guam', 68)),
 ('Italy\xa0San Marino Vatican City', ('Italy', 90)),
 ('Martinique', ('Spain', 54)),
 ('Réunion', ('San Marino', 54)),
 ('Saint Helena, Ascension and Tristan da Cunha', ('Sint Maarten', 52)),
 ('Saint Pierre and Miquelon', ('Spain', 72)),
 ('Serbia & Montenegro', ('Serbia', 90)),
 ('Spain\xa0Andorra', ('Spain', 90)),
 ('Sudan\xa0South Sudan', ('Sudan', 90)), ('Western Sahara', ('Northern Mariana Islands', 51)),
 ('World', ('Switzerland', 54))]

In [19]:
omitLeft=[leftName for (leftName,rightFuzzy) in TotallyWrong] #parenthesis not needed
omitLeft

['European Union',
 'Falkland Islands',
 'Faroe Islands',
 'France\xa0Monaco',
 'French Guiana',
 'Gibraltar',
 'Guadeloupe',
 'Italy\xa0San Marino Vatican City',
 'Martinique',
 'Réunion',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Pierre and Miquelon',
 'Serbia & Montenegro',
 'Spain\xa0Andorra',
 'Sudan\xa0South Sudan',
 'Western Sahara',
 'World']

In [20]:
{process.extractOne(left, UnmatchedRight)[0]:left for left in UnmatchedLeft if left not in omitLeft}

{'DR Congo': 'Democratic Republic of the Congo',
 'Switzerland': 'Switzerland\xa0Liechtenstein',
 'Gambia': 'The Gambia'}

In [21]:
changesRight={process.extractOne(left, UnmatchedRight)[0]:left for left in UnmatchedLeft if left not in omitLeft}
DataGDP.CountryOrTerritory.replace(changesRight,inplace=True)

In [22]:
bruteForceChanges={'DR Congo': 'Democratic Republic of the Congo',
 'Switzerland': 'Switzerland\xa0Liechtenstein',
 'Gambia': 'The Gambia'}

In [23]:
DataGDP.CountryOrTerritory.replace(bruteForceChanges,inplace=True)

In [24]:
allData=DataCO2.merge(DataGDP,left_on="Country",right_on="CountryOrTerritory")
allData.shape

(193, 6)

In [25]:
allData

,Country,2017CO2Emissions,PercentofWorldEmissions,PerCapitaEmissions,CountryOrTerritory,GDP(US$Million)
0,Afghanistan,11.422,0.03%,0.3,Afghanistan,19793.0
1,Albania,5.026,0.01%,1.7,Albania,14910.0
2,Algeria,159.929,0.43%,3.9,Algeria,147689.0
3,Angola,30.876,0.08%,1.0,Angola,62307.0
4,Anguilla,0.028,0.00%,1.9,Anguilla,258.0
...,...,...,...,...,...,...
188,Venezuela,145.877,0.39%,4.6,Venezuela,106359.0
189,Vietnam,218.729,0.59%,2.3,Vietnam,271158.0
190,Yemen,12.503,0.03%,0.4,Yemen,27958.0
191,Zambia,4.967,0.01%,0.3,Zambia,18111.0
192,Zimbabwe,12.087,0.03%,0.7,Zimbabwe,21787.0

In [26]:
allData.drop(["CountryOrTerritory"],axis=1,inplace=True)

In [27]:
allData

,Country,2017CO2Emissions,PercentofWorldEmissions,PerCapitaEmissions,GDP(US$Million)
0,Afghanistan,11.422,0.03%,0.3,19793.0
1,Albania,5.026,0.01%,1.7,14910.0
2,Algeria,159.929,0.43%,3.9,147689.0
3,Angola,30.876,0.08%,1.0,62307.0
4,Anguilla,0.028,0.00%,1.9,258.0
...,...,...,...,...,...
188,Venezuela,145.877,0.39%,4.6,106359.0
189,Vietnam,218.729,0.59%,2.3,271158.0
190,Yemen,12.503,0.03%,0.4,27958.0
191,Zambia,4.967,0.01%,0.3,18111.0
192,Zimbabwe,12.087,0.03%,0.7,21787.0

In [28]:
allData.to_csv('GDPandCO2.csv',index=False)