In [1]:
import pandas as pd
linkDataGDP="https://raw.githubusercontent.com/jsalber/542/main/First%20Assignment/GDPdata.csv"
linkDataCO2="https://raw.githubusercontent.com/jsalber/542/main/First%20Assignment/co2.csv"
DataGDP=pd.read_csv(linkDataGDP)
DataCO2=pd.read_csv(linkDataCO2)

In [2]:
DataGDP.columns

Index(['CountryOrTerritory', 'GDP(US$Million)'], dtype='object')

In [3]:
DataCO2.columns

Index(['Country', '2017CO2Emissions', 'PercentofWorldEmissions',
       'PerCapitaEmissions'],
      dtype='object')

In [4]:
allData=DataCO2.merge(DataGDP,left_on="Country",right_on="CountryOrTerritory")

In [5]:
DataCO2.shape

(210, 4)

In [6]:
allData.shape

(191, 6)

In [7]:
allData=DataCO2.merge(DataGDP,left_on="Country",right_on="CountryOrTerritory",how='outer',indicator='True')

In [8]:
allData.columns

Index(['Country', '2017CO2Emissions', 'PercentofWorldEmissions',
       'PerCapitaEmissions', 'CountryOrTerritory', 'GDP(US$Million)', 'True'],
      dtype='object')

In [9]:
allData['True'].value_counts()

both          191
right_only     26
left_only      19
Name: True, dtype: int64

In [13]:
allData[allData['True']=='left_only'].Country

51                 Democratic Republic of the Congo
65                                   European Union
66                                 Falkland Islands
67                                    Faroe Islands
70                                    France Monaco
71                                    French Guiana
77                                        Gibraltar
81                                       Guadeloupe
97                    Italy San Marino Vatican City
122                                      Martinique
154                                         Réunion
158    Saint Helena, Ascension and Tristan da Cunha
161                       Saint Pierre and Miquelon
167                             Serbia & Montenegro
177                                   Spain Andorra
179                               Sudan South Sudan
182                       Switzerland Liechtenstein
188                                      The Gambia
206                                  Western Sahara
Name: Country, dtype: object

In [14]:
allData[allData['True']=='right_only'].CountryOrTerritory

210               Liechtenstein
211                      Monaco
212                 Switzerland
213                  San Marino
214                      France
215                     Andorra
216                       Italy
217                        Guam
218                       Spain
219    Northern Mariana Islands
220                Sint Maarten
221                  Montserrat
222              American Samoa
223                       Nauru
224                  Montenegro
225                      Serbia
226                      Tuvalu
227                      Kosovo
228            Marshall Islands
229                  Micronesia
230                   Palestine
231                    Zanzibar
232                      Gambia
233                       Sudan
234                    DR Congo
235                 South Sudan
Name: CountryOrTerritory, dtype: object

In [15]:
UnmatchedLeft=allData[allData['True']=='left_only'].Country.to_list()
UnmatchedRight=allData[allData['True']=='right_only'].CountryOrTerritory.to_list()

In [16]:
UnmatchedLeft[0]

'Democratic Republic of the Congo'

In [17]:
from thefuzz import process
process.extractOne(UnmatchedLeft[0], UnmatchedRight)

C:\Users\John\anaconda3\lib\site-packages\thefuzz\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

('DR Congo', 86)

In [18]:
process.extract(UnmatchedLeft[0], UnmatchedRight,limit=3)

[('DR Congo', 86), ('Andorra', 51), ('Montenegro', 48)]

In [19]:
UnmatchedLeft=allData[allData['True']=='left_only'].Country.to_list()
UnmatchedLeft

['Democratic Republic of the Congo',
 'European Union',
 'Falkland Islands',
 'Faroe Islands',
 'France\xa0Monaco',
 'French Guiana',
 'Gibraltar',
 'Guadeloupe',
 'Italy\xa0San Marino Vatican City',
 'Martinique',
 'Réunion',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Pierre and Miquelon',
 'Serbia & Montenegro',
 'Spain\xa0Andorra',
 'Sudan\xa0South Sudan',
 'Switzerland\xa0Liechtenstein',
 'The Gambia',
 'Western Sahara']

In [20]:
[(left, process.extractOne(left, UnmatchedRight)) for left in sorted(UnmatchedLeft)]

[('Democratic Republic of the Congo', ('DR Congo', 86)),
 ('European Union', ('Spain', 54)),
 ('Falkland Islands', ('Northern Mariana Islands', 86)),
 ('Faroe Islands', ('Northern Mariana Islands', 86)),
 ('France\xa0Monaco', ('Monaco', 90)),
 ('French Guiana', ('Guam', 68)),
 ('Gibraltar', ('Italy', 54)),
 ('Guadeloupe', ('Guam', 68)),
 ('Italy\xa0San Marino Vatican City', ('San Marino', 90)),
 ('Martinique', ('Spain', 54)),
 ('Réunion', ('San Marino', 54)),
 ('Saint Helena, Ascension and Tristan da Cunha', ('Sint Maarten', 52)),
 ('Saint Pierre and Miquelon', ('Spain', 72)),
 ('Serbia & Montenegro', ('Montenegro', 90)),
 ('Spain\xa0Andorra', ('Andorra', 90)),
 ('Sudan\xa0South Sudan', ('Sudan', 90)),
 ('Switzerland\xa0Liechtenstein', ('Liechtenstein', 90)),
 ('The Gambia', ('Gambia', 90)),
 ('Western Sahara', ('Northern Mariana Islands', 51))]

In [21]:
TotallyWrong=[('Democratic Republic of the Congo', ('DR Congo', 86)),
 ('European Union', ('Spain', 54)),
 ('Falkland Islands', ('Northern Mariana Islands', 86)),
 ('Faroe Islands', ('Northern Mariana Islands', 86)),
 ('France\xa0Monaco', ('Monaco', 90)),
 ('French Guiana', ('Guam', 68)),
 ('Gibraltar', ('Italy', 54)),
 ('Guadeloupe', ('Guam', 68)),
 ('Italy\xa0San Marino Vatican City', ('San Marino', 90)),
 ('Martinique', ('Spain', 54)),
 ('Réunion', ('San Marino', 54)),
 ('Saint Helena, Ascension and Tristan da Cunha', ('Sint Maarten', 52)),
 ('Saint Pierre and Miquelon', ('Spain', 72)),
 ('Serbia & Montenegro', ('Montenegro', 90)),
 ('Spain\xa0Andorra', ('Andorra', 90)),
 ('Switzerland\xa0Liechtenstein', ('Liechtenstein', 90)),
 ('Western Sahara', ('Northern Mariana Islands', 51))]

In [22]:
omitLeft=[leftName for (leftName,rightFuzzy) in TotallyWrong] #parenthesis not needed
omitLeft

['Democratic Republic of the Congo',
 'European Union',
 'Falkland Islands',
 'Faroe Islands',
 'France\xa0Monaco',
 'French Guiana',
 'Gibraltar',
 'Guadeloupe',
 'Italy\xa0San Marino Vatican City',
 'Martinique',
 'Réunion',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Pierre and Miquelon',
 'Serbia & Montenegro',
 'Spain\xa0Andorra',
 'Switzerland\xa0Liechtenstein',
 'Western Sahara']

In [23]:
{process.extractOne(left, UnmatchedRight)[0]:left for left in UnmatchedLeft if left not in omitLeft}

{'Sudan': 'Sudan\xa0South Sudan', 'Gambia': 'The Gambia'}

In [24]:
changesRight={process.extractOne(left, UnmatchedRight)[0]:left for left in UnmatchedLeft if left not in omitLeft}
DataGDP.CountryOrTerritory.replace(changesRight,inplace=True)

In [25]:
bruteForceChanges={'DR Congo': 'Democratic Republic of the Congo',
 'France': 'France\xa0Monaco',
 'Italy': 'Italy\xa0San Marino Vatican City',
 'Serbia': 'Serbia & Montenegro',
 'Spain': 'Spain\xa0Andorra',
 'Switzerland': 'Switzerland\xa0Liechtenstein',
 'Gambia': 'The Gambia'}

In [26]:
DataGDP.CountryOrTerritory.replace(bruteForceChanges,inplace=True)

In [27]:
allData=DataCO2.merge(DataGDP,left_on="Country",right_on="CountryOrTerritory")
allData.shape

(199, 6)

In [28]:
allData

,Country,2017CO2Emissions,PercentofWorldEmissions,PerCapitaEmissions,CountryOrTerritory,GDP(US$Million)
0,World,37077.404,100.00%,4.9,World,10949.0
1,Afghanistan,11.422,0.03%,0.3,Afghanistan,508.0
2,Albania,5.026,0.01%,1.7,Albania,5181.0
3,Algeria,159.929,0.43%,3.9,Algeria,3368.0
4,Angola,30.876,0.08%,1.0,Angola,1896.0
...,...,...,...,...,...,...
194,Venezuela,145.877,0.39%,4.6,Venezuela,3740.0
195,Vietnam,218.729,0.59%,2.3,Vietnam,2786.0
196,Yemen,12.503,0.03%,0.4,Yemen,937.0
197,Zambia,4.967,0.01%,0.3,Zambia,985.0
198,Zimbabwe,12.087,0.03%,0.7,Zimbabwe,1466.0

In [29]:
allData.drop(["CountryOrTerritory"],axis=1,inplace=True)

In [30]:
allData

,Country,2017CO2Emissions,PercentofWorldEmissions,PerCapitaEmissions,GDP(US$Million)
0,World,37077.404,100.00%,4.9,10949.0
1,Afghanistan,11.422,0.03%,0.3,508.0
2,Albania,5.026,0.01%,1.7,5181.0
3,Algeria,159.929,0.43%,3.9,3368.0
4,Angola,30.876,0.08%,1.0,1896.0
...,...,...,...,...,...
194,Venezuela,145.877,0.39%,4.6,3740.0
195,Vietnam,218.729,0.59%,2.3,2786.0
196,Yemen,12.503,0.03%,0.4,937.0
197,Zambia,4.967,0.01%,0.3,985.0
198,Zimbabwe,12.087,0.03%,0.7,1466.0

In [31]:
allData.to_csv('GDPandCO2.csv',index=False)