In [11]:
import pandas as pd
linkmainData="https://github.com/jsalber/542/raw/main/First%20Assignment/allData.csv"
linkDataHDI="https://github.com/jsalber/542/raw/main/First%20Assignment/HDI.csv"
DataHDI=pd.read_csv(linkDataHDI)
mainData=pd.read_csv(linkmainData)

In [29]:
DataHDI

                       Nation    HDI
0                      Norway  0.957
1                     Ireland  0.955
2                 Switzerland  0.955
3                   Hong Kong  0.949
4                     Iceland  0.949
..                        ...    ...
184                   Burundi  0.433
185               South Sudan  0.433
186                      Chad  0.398
187  Central African Republic  0.397
188                     Niger  0.394

[189 rows x 2 columns]

In [30]:
mainData

,Country,2017CO2Emissions,PercentofWorldEmissions,PerCapitaEmissions,GDP(US$Million),PerCapitaGDP(Thousands),EnergyConsumptionPerCapita(Watts),KilowattsPerCapita
0,Albania,5.026,0.01,1.7,5181,5.18,1065.9,1.07
1,Algeria,159.929,0.43,3.9,3368,3.37,1658.9,1.66
2,Angola,30.876,0.08,1.0,1896,1.90,871.9,0.87
3,Argentina,209.968,0.57,4.7,8476,8.48,2522.5,2.52
4,Armenia,4.832,0.01,1.6,4266,4.27,1290.5,1.29
...,...,...,...,...,...,...,...,...
126,Venezuela,145.877,0.39,4.6,3740,3.74,3023.9,3.02
127,Vietnam,218.729,0.59,2.3,2786,2.79,888.9,0.89
128,Yemen,12.503,0.03,0.4,937,0.94,431.0,0.43
129,Zambia,4.967,0.01,0.3,985,0.99,840.7,0.84
130,Zimbabwe,12.087,0.03,0.7,1466,1.47,1008.6,1.01

In [31]:
allData=mainData.merge(DataHDI,left_on="Country",right_on="Nation")

In [32]:
mainData.shape

(131, 8)

In [33]:
DataHDI.shape

(189, 2)

In [34]:
allData=mainData.merge(DataHDI,left_on="Country",right_on="Nation",how='outer',indicator='True')

In [35]:
allData.columns

Index(['Country', '2017CO2Emissions', 'PercentofWorldEmissions',
       'PerCapitaEmissions', 'GDP(US$Million)', 'PerCapitaGDP(Thousands)',
       'EnergyConsumptionPerCapita(Watts)', 'KilowattsPerCapita', 'Nation',
       'HDI', 'True'],
      dtype='object')

In [36]:
allData['True'].value_counts()

both          125
right_only     64
left_only       6
Name: True, dtype: int64

In [66]:
allData[allData['True']=='left_only'].Country

25                             Congo
40                     France Monaco
58     Italy San Marino Vatican City
86                       North Korea
107                    Spain Andorra
110        Switzerland Liechtenstein
Name: Country, dtype: object

In [54]:
allData[allData['True']=='right_only'].Nation

131                 Switzerland
132               Liechtenstein
133                       Spain
134                      France
135                       Italy
                 ...
190                     Burundi
191                 South Sudan
192                        Chad
193    Central African Republic
194                       Niger
Name: Nation, Length: 64, dtype: object

In [55]:
UnmatchedLeft=allData[allData['True']=='left_only'].Country.to_list()
UnmatchedRight=allData[allData['True']=='right_only'].Nation.to_list()

In [56]:
UnmatchedLeft[0]

'Congo'

In [58]:
from thefuzz import process
process.extractOne(UnmatchedLeft[0], UnmatchedRight)

('Republic of the Congo', 90)

In [59]:
process.extract(UnmatchedLeft[0], UnmatchedRight,limit=3)

[('Republic of the Congo', 90), ('Tonga', 60), ('Micronesia', 54)]

In [60]:
UnmatchedLeft=allData[allData['True']=='left_only'].Country.to_list()
UnmatchedLeft

['Congo',
 'France\xa0Monaco',
 'Italy\xa0San Marino Vatican City',
 'North Korea',
 'Spain\xa0Andorra',
 'Switzerland\xa0Liechtenstein']

In [61]:
[(left, process.extractOne(left, UnmatchedRight,)) for left in sorted(UnmatchedLeft) ]

[('Congo', ('Republic of the Congo', 90)),
 ('France\xa0Monaco', ('France', 90)),
 ('Italy\xa0San Marino Vatican City', ('Italy', 90)),
 ('North Korea', ('Andorra', 56)),
 ('Spain\xa0Andorra', ('Spain', 90)),
 ('Switzerland\xa0Liechtenstein', ('Switzerland', 90))]

In [62]:
TotallyWrong=[
 ('North Korea', ('Andorra', 56))]

In [67]:
omitLeft=[leftName for (leftName,rightFuzzy) in TotallyWrong] #parenthesis not needed

omitLeft

['North Korea']

In [68]:
{process.extractOne(left, UnmatchedRight)[0]:left for left in UnmatchedLeft if left not in omitLeft}

{'Republic of the Congo': 'Congo',
 'France': 'France\xa0Monaco',
 'Italy': 'Italy\xa0San Marino Vatican City',
 'Spain': 'Spain\xa0Andorra',
 'Switzerland': 'Switzerland\xa0Liechtenstein'}

In [69]:
bruteForceChanges={'Democratic Republic of the Congo': 'Congo',
 'France': 'France\xa0Monaco',
 'Italy': 'Italy\xa0San Marino Vatican City',
 'Spain': 'Spain\xa0Andorra',
 'Switzerland': 'Switzerland\xa0Liechtenstein'}

In [70]:
DataHDI.Nation.replace(bruteForceChanges,inplace=True)

In [71]:
allData=mainData.merge(DataHDI,left_on="Country",right_on="Nation")
allData.shape

(129, 10)

In [72]:
allData

,Country,2017CO2Emissions,PercentofWorldEmissions,PerCapitaEmissions,GDP(US$Million),PerCapitaGDP(Thousands),EnergyConsumptionPerCapita(Watts),KilowattsPerCapita,Nation,HDI
0,Albania,5.026,0.01,1.7,5181,5.18,1065.9,1.07,Albania,0.795
1,Algeria,159.929,0.43,3.9,3368,3.37,1658.9,1.66,Algeria,0.748
2,Angola,30.876,0.08,1.0,1896,1.90,871.9,0.87,Angola,0.581
3,Argentina,209.968,0.57,4.7,8476,8.48,2522.5,2.52,Argentina,0.845
4,Armenia,4.832,0.01,1.6,4266,4.27,1290.5,1.29,Armenia,0.776
...,...,...,...,...,...,...,...,...,...,...
124,Venezuela,145.877,0.39,4.6,3740,3.74,3023.9,3.02,Venezuela,0.711
125,Vietnam,218.729,0.59,2.3,2786,2.79,888.9,0.89,Vietnam,0.704
126,Yemen,12.503,0.03,0.4,937,0.94,431.0,0.43,Yemen,0.470
127,Zambia,4.967,0.01,0.3,985,0.99,840.7,0.84,Zambia,0.584
128,Zimbabwe,12.087,0.03,0.7,1466,1.47,1008.6,1.01,Zimbabwe,0.571

In [73]:
allData.to_csv('FinalData.csv',index=False)