In [13]:
# importing pandas for the notebook
import pandas as pd

#link for the tables
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_carbon_dioxide_emissions',header=0,flavor="bs4",attrs={'class':"wikitable"})

# fetching the tables

In [14]:
df

[                        Country[20]  Fossil CO2 emissions(Mt CO2)  \
 0                       Country[20]                      1990.000
 1                             World                     22674.116
 2    World – International Aviation                       258.941
 3    World – International Shipping                       371.804
 4                       Afghanistan                         2.546
 ..                              ...                           ...
 208                         Vietnam                        20.182
 209                  Western Sahara                         0.144
 210                           Yemen                         6.887
 211                          Zambia                         2.955
 212                        Zimbabwe                        17.178

      Fossil CO2 emissions(Mt CO2).1  Fossil CO2 emissions(Mt CO2).2  \
 0                          2005.000                        2017.000
 1                         30049.809                       37077.404
 2                           422.777                         543.381
 3                           572.169                         677.248
 4                             1.063                          11.422
 ..                              ...                             ...
 208                          99.231                         218.729
 209                           0.227                           0.276
 210                          21.768                          12.503
 211                           2.457                           4.967
 212                          11.388                          12.087

     Fossil CO2 emissions    Fossil CO2 emissions.1  \
 0       2017(% of world)  2017 vs 1990: change (%)
 1                100.00%                     63.5%
 2                  1.47%                    109.8%
 3                  1.83%                     82.2%
 4                  0.03%                    348.6%
 ..                   ...                       ...
 208                0.59%                    983.8%
 209                0.00%                     91.7%
 210                0.03%                     81.5%
 211                0.01%                     68.1%
 212                0.03%                    -29.6%

      2017 – Fossil CO2 emissions 2017 – Fossil CO2 emissions.1  \
 0    Per land area(t CO2/km2/yr)      Per capita(t CO2/cap/yr)
 1                             73                           4.9
 2                            NaN                           NaN
 3                            NaN                           NaN
 4                             18                           0.3
 ..                           ...                           ...
 208                          660                           2.3
 209                            1                           0.5
 210                           24                           0.4
 211                            7                           0.3
 212                           31                           0.7

        2018 CO2 emissions[21]  2018 CO2 emissions[21].1
 0    Total including LUCF[22]  Total excluding LUCF[23]
 1                    36431.11                  35247.21
 2                         NaN                       NaN
 3                         NaN                       NaN
 4                        7.59                      7.44
 ..                        ...                       ...
 208                    245.36                    257.86
 209                       NaN                       NaN
 210                      9.31                      9.31
 211                     40.47                      7.74
 212                     99.43                     12.27

 [213 rows x 10 columns]]