In [52]:
import pandas as pd

link3="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
data3=pd.read_html(link3,header=0,flavor="bs4",attrs={'class':"wikitable sortable"})

In [53]:
regiondata=data3[0].copy()
regiondata.head()

,Rank,Country / Dependency,Region,Population,% of world,Date,Source (official or from the United Nations),Notes
0,–,NaN,World,7924023000,NaN,18 Jan 2022,UN projection[1],NaN
1,1,China,Asia,1412600000,17.8%,31 Dec 2021,National annual estimate[2],The population figure refers to mainland China...
2,2,India,Asia,1386946912,17.5%,18 Jan 2022,National population clock[3],The figure includes the population of India-ad...
3,3,United States,Americas,333073186,4.20%,18 Jan 2022,National population clock[4],Includes the 50 states and the District of Col...
4,4,Indonesia[b],Asia,271350000,3.42%,31 Dec 2020,National annual estimate[5],NaN

In [54]:
WhichToDrop=list(set(range(8))-set([1,2]))
WhichToDrop

[0, 3, 4, 5, 6, 7]

In [55]:
regiondata.drop(labels=regiondata.columns[WhichToDrop],axis=1,inplace=True)
regiondata

                    Country / Dependency    Region
0                                    NaN     World
1                                  China      Asia
2                                  India      Asia
3                          United States  Americas
4                           Indonesia[b]      Asia
..                                   ...       ...
237                   Niue (New Zealand)   Oceania
238                Tokelau (New Zealand)   Oceania
239                         Vatican City    Europe
240  Cocos (Keeling) Islands (Australia)   Oceania
241    Pitcairn Islands (United Kingdom)   Oceania

[242 rows x 2 columns]

In [56]:
regiondata.Region.value_counts()

Africa      56
Asia        55
Europe      52
Americas    51
Oceania     27
World        1
Name: Region, dtype: int64

In [57]:
regiondata=regiondata[regiondata.Region!="World"]
regiondata.reset_index(drop=True,inplace=True)
regiondata

                    Country / Dependency    Region
0                                  China      Asia
1                                  India      Asia
2                          United States  Americas
3                           Indonesia[b]      Asia
4                               Pakistan      Asia
..                                   ...       ...
236                   Niue (New Zealand)   Oceania
237                Tokelau (New Zealand)   Oceania
238                         Vatican City    Europe
239  Cocos (Keeling) Islands (Australia)   Oceania
240    Pitcairn Islands (United Kingdom)   Oceania

[241 rows x 2 columns]

In [58]:
regiondata.columns=["Country","Region"]

In [59]:
regiondata[regiondata["Country"].str.endswith("]")]

           Country  Region
3     Indonesia[b]    Asia
8        Russia[b]  Europe
13        Egypt[b]  Africa
17       Turkey[b]    Asia
62   Kazakhstan[b]    Asia
90   Azerbaijan[b]    Asia
130     Georgia[b]    Asia
161      Cyprus[c]    Asia

In [60]:
regiondata.loc[:,'Country']=regiondata.Country.str.replace("\\[.+?\\]","",regex=True)

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/indexing.py:1951: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[selected_item_labels] = value

In [61]:
sorted(regiondata["Country"].to_list())

['Abkhazia',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa (United States)',
 'Andorra',
 'Angola',
 'Anguilla (United Kingdom)',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba (Netherlands)',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda (United Kingdom)',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands (United Kingdom)',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands (United Kingdom)',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island (Australia)',
 'Cocos (Keeling) Islands (Australia)',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands (New Zealand)',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao (Netherlands)',
 'Cyprus',
 'Czech Republic',
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Timor',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Falkland Islands (United Kingdom)',
 'Faroe Islands (Denmark)',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia (France)',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar (United Kingdom)',
 'Greece',
 'Greenland (Denmark)',
 'Grenada',
 'Guam (United States)',
 'Guatemala',
 'Guernsey (British Crown Dependency)',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man (British Crown Dependency)',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jersey (British Crown Dependency)',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau (China)',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat (United Kingdom)',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia (France)',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue (New Zealand)',
 'Norfolk Island (Australia)',
 'North Korea',
 'North Macedonia',
 'Northern Cyprus',
 'Northern Mariana Islands (United States)',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn Islands (United Kingdom)',
 'Poland',
 'Portugal',
 'Puerto Rico (United States)',
 'Qatar',
 'Republic of Artsakh',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Barthélemy (France)',
 'Saint Helena, Ascension and Tristan da Cunha (United Kingdom)',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (France)',
 'Saint Pierre and Miquelon (France)',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Netherlands)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Ossetia',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'São Tomé and Príncipe',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tokelau (New Zealand)',
 'Tonga',
 'Transnistria',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands (United Kingdom)',
 'Tuvalu',
 'U.S. Virgin Islands (United States)',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'Wallis and Futuna (France)',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'Åland (Finland)']

In [62]:
regiondata[['Country', 'CountryMain']] = regiondata.Country.str.split(pat='(', n=1, expand=True)
regiondata

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

               Country    Region                   CountryMain
0                China      Asia                          None
1                India      Asia                          None
2        United States  Americas                          None
3            Indonesia      Asia                          None
4             Pakistan      Asia                          None
..                 ...       ...                           ...
236              Niue    Oceania                  New Zealand)
237           Tokelau    Oceania                  New Zealand)
238       Vatican City    Europe                          None
239             Cocos    Oceania  Keeling) Islands (Australia)
240  Pitcairn Islands    Oceania               United Kingdom)

[241 rows x 3 columns]

In [63]:
regiondata.drop("CountryMain",axis=1,inplace=True)

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [64]:
regiondata

               Country    Region
0                China      Asia
1                India      Asia
2        United States  Americas
3            Indonesia      Asia
4             Pakistan      Asia
..                 ...       ...
236              Niue    Oceania
237           Tokelau    Oceania
238       Vatican City    Europe
239             Cocos    Oceania
240  Pitcairn Islands    Oceania

[241 rows x 2 columns]

In [65]:
regiondata=regiondata.apply(lambda x: x.str.strip())

In [66]:
regiondata.to_csv("regiondata.csv",index=False)

In [68]:
allDataFull=pd.read_csv("https://github.com/EvansDataScience/CTforGA_integrating/raw/main/allData.csv")
allDataFull

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Officialstatename,InternetccTLD,iso2,iso3
0,Norway,Full democracy,9.81,10.00,9.64,10.00,10.00,9.41,The Kingdom of Norway,.no,NO,NOR
1,Iceland,Full democracy,9.37,10.00,8.57,8.89,10.00,9.41,Iceland,.is,IS,ISL
2,Sweden,Full democracy,9.26,9.58,9.29,8.33,10.00,9.12,The Kingdom of Sweden,.se,SE,SWE
3,New Zealand,Full democracy,9.25,10.00,8.93,8.89,8.75,9.71,New Zealand,.nz,NZ,NZL
4,Canada,Full democracy,9.24,9.58,8.93,8.89,9.38,9.41,Canada,.ca,CA,CAN
...,...,...,...,...,...,...,...,...,...,...,...,...
162,Chad,Authoritarian,1.55,0.00,0.00,1.67,3.75,2.35,The Republic of Chad,.td,TD,TCD
163,Syria,Authoritarian,1.43,0.00,0.00,2.78,4.38,0.00,The Syrian Arab Republic,.sy,SY,SYR
164,Central African Republic,Authoritarian,1.32,1.25,0.00,1.11,1.88,2.35,The Central African Republic,.cf,CF,CAF
165,Democratic Republic of the Congo,Authoritarian,1.13,0.00,0.00,1.67,3.13,0.88,The Democratic Republic of the Congo,.cd,CD,COD
166,North Korea,Authoritarian,1.08,0.00,2.50,1.67,1.25,0.00,The Democratic People's Republic of Korea,.kp,KP,PRK

In [69]:
leftCountry=set(allDataFull.Country)
len(leftCountry)

167

In [70]:
rightCountry=set(regiondata.Country)

In [71]:
len(leftCountry.intersection(rightCountry))

164

In [72]:
UnmatchedLeft=list(leftCountry.difference(rightCountry))
UnmatchedLeft

['Timor-Leste', 'Republic of the Congo', 'Democratic Republic of the Congo']

In [73]:
UnmatchedRight=list(rightCountry.difference(leftCountry))
UnmatchedRight

['Northern Mariana Islands',
 'British Virgin Islands',
 'Christmas Island',
 'Saint Lucia',
 'Republic of Artsakh',
 'Curaçao',
 'Montserrat',
 'Belize',
 'Monaco',
 'Isle of Man',
 'Jersey',
 'Saint Barthélemy',
 'Norfolk Island',
 'Northern Cyprus',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Martin',
 'Kosovo',
 'Grenada',
 'Seychelles',
 'Pitcairn Islands',
 'U.S. Virgin Islands',
 'Bahamas',
 'Congo',
 'Cocos',
 'Anguilla',
 'Niue',
 'Macau',
 'South Ossetia',
 'Antigua and Barbuda',
 'Samoa',
 'East Timor',
 'DR Congo',
 'Tonga',
 'Dominica',
 'Cayman Islands',
 'Cook Islands',
 'Kiribati',
 'Bermuda',
 'Saint Vincent and the Grenadines',
 'French Polynesia',
 'Nauru',
 'South Sudan',
 'Solomon Islands',
 'Greenland',
 'Gibraltar',
 'Sint Maarten',
 'Vanuatu',
 'Andorra',
 'Faroe Islands',
 'Tokelau',
 'Saint Pierre and Miquelon',
 'Barbados',
 'Somalia',
 'Tuvalu',
 'Western Sahara',
 'Aruba',
 'Wallis and Futuna',
 'Guam',
 'Liechtenstein',
 'Palau',
 'Transnistria',
 'Falkland Islands',
 'São Tomé and Príncipe',
 'Saint Kitts and Nevis',
 'American Samoa',
 'Marshall Islands',
 'Maldives',
 'Åland',
 'Puerto Rico',
 'Brunei',
 'San Marino',
 'Guernsey',
 'Turks and Caicos Islands',
 'New Caledonia',
 'Vatican City',
 'Micronesia',
 'Abkhazia']

In [74]:
from thefuzz import process
[(process.extract(left, UnmatchedRight,limit=2),left) for left in UnmatchedLeft]

[([('East Timor', 82), ('Liechtenstein', 48)], 'Timor-Leste'),
 ([('Congo', 90), ('Isle of Man', 86)], 'Republic of the Congo'),
 ([('Congo', 90), ('Republic of Artsakh', 86)],
  'Democratic Republic of the Congo')]

In [75]:
changesRight={'DR Congo':'Democratic Republic of the Congo',
'Congo':'Republic of the Congo',
'East Timor':'Timor-Leste'}


regiondata.Country.replace(changesRight,inplace=True)

In [76]:
allDataFull=allDataFull.merge(regiondata,how='outer',indicator='True')
allDataFull['True'].value_counts()

both          167
right_only     74
left_only       0
Name: True, dtype: int64

In [77]:
allDataFull=allDataFull[allDataFull['True']=='both']

In [79]:
allDataFull.drop(['True'],axis=1,inplace=True)

In [80]:
allDataFull

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Officialstatename,InternetccTLD,iso2,iso3,Region
0,Norway,Full democracy,9.81,10.00,9.64,10.00,10.00,9.41,The Kingdom of Norway,.no,NO,NOR,Europe
1,Iceland,Full democracy,9.37,10.00,8.57,8.89,10.00,9.41,Iceland,.is,IS,ISL,Europe
2,Sweden,Full democracy,9.26,9.58,9.29,8.33,10.00,9.12,The Kingdom of Sweden,.se,SE,SWE,Europe
3,New Zealand,Full democracy,9.25,10.00,8.93,8.89,8.75,9.71,New Zealand,.nz,NZ,NZL,Oceania
4,Canada,Full democracy,9.24,9.58,8.93,8.89,9.38,9.41,Canada,.ca,CA,CAN,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Chad,Authoritarian,1.55,0.00,0.00,1.67,3.75,2.35,The Republic of Chad,.td,TD,TCD,Africa
163,Syria,Authoritarian,1.43,0.00,0.00,2.78,4.38,0.00,The Syrian Arab Republic,.sy,SY,SYR,Asia
164,Central African Republic,Authoritarian,1.32,1.25,0.00,1.11,1.88,2.35,The Central African Republic,.cf,CF,CAF,Africa
165,Democratic Republic of the Congo,Authoritarian,1.13,0.00,0.00,1.67,3.13,0.88,The Democratic Republic of the Congo,.cd,CD,COD,Africa
166,North Korea,Authoritarian,1.08,0.00,2.50,1.67,1.25,0.00,The Democratic People's Republic of Korea,.kp,KP,PRK,Asia

In [81]:
allDataFull.to_csv('allDataFull.csv', index=False)